:host {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;

    color: white;

    header {
        width: 100%;
        height: 75px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: xx-large;
        font-weight: 500;

        background-color: rebeccapurple;
    }

    main {
        width: 750px;
        height: 500px;

        display: flex;

        border-left: 2px solid rebeccapurple;
        border-right: 2px solid rebeccapurple;
    }

    footer {
        width: 100%;
        height: 40px;

        display: flex;
        justify-content: space-between;

        padding: 10px;
        background-color: rebeccapurple;

        p {
            display: flex;

            gap: 5px;
        }

        a {
            color: black
        }
    }

    div {
        &#support-me {
            width: 20%;
            min-width: 200px;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            border: 1px solid white;

            p {
                font-size: x-small;
            }

            img {
                height: calc(100% / 4);
            }
        }

        &#mobile-version {
            color: white;
        }

        &#input-key {
            position: absolute;

            left: calc(50% - 374px);

            align-self: flex-end;
            justify-self: flex-end;

            input {
                width: 250px;
                height: 100%;

                color: white;
                padding: 5px;
                font-size: large;
                background-color: black;
                border: 1px solid rebeccapurple;

                &::placeholder {
                    color: rgba($color: white, $alpha: 0.25);
                }

                &:disabled {
                    background-color: rgba($color: black, $alpha: .15);
                }
            }
        }
    }
}
